.prices {
    padding-top: 55px;

    &__wrapper {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        width: 265px;
        height: 355px;
        border: 1px solid #e2e2e2;

        &-title {
            height: 60px;
            padding-top: 20px;
            background-color: var(--main_color_2);
            width: 100%;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
        }

        &-icon {
            margin-top: 15px;
            height: 60px;
            text-align: center;

            img {
                height: 100%;
            }
        }

        &-time {
            margin-top: 10px;
            font-weight: 400;
            font-size: 14px;
            text-align: center;
        }

        &-amount {
            font-weight: 400;
            font-size: 28px;
            text-align: center;
            line-height: 31px;
            color: var(--main_color);
        }

        &-descr {

            margin: 13px auto 0 auto;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            line-height: 22px;
            width: 235px;
        }

        .button {
            position: absolute;
            margin-top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}