.title {
    font-weight: 700;
    font-size: 26px;
    text-align: center;

    &_w {
        color: #fff;
        margin-top: 10px;
    }
}

.subtitle {
    margin-top: 15px;
    font-weight: 300;
    font-size: 21px;
    text-align: center;

    &_w {
        color: #fff;
    }
}